extends layout

block content
  .container
    h1.text-center.text-white Video List
    hr
    .actor-form.text-center.margin-top-40
      form.form-inline(method='post')
        .form-group
          label Filter by actor:
          input#byActorName.form-control(type='text', name='actorName', placeholder='name', value='#{actorName || ""}')
          button#actorFilterSubmit.btn.btn-default.disabled(type='submit')
            span.glyphicon.glyphicon-filter
            | &nbsp;Filter
      if videos.length > 0
        .table-responsive
          table#videoList.table.table-bordered
            tr
              th Title
              th Description
              th Producer(s)
              th Actor(s)
              th &nbsp;
              th &nbsp;
            for video in videos
              tr.video-row
                td #{video.title}
                td #{video.description}
                td #{video.producers}
                td #{video.actors}
                td
                  button.btn.btn-default.btn-edit(type='button', data-toggle='modal', data-target='#edit', data-edit-id='#{video.videoId}')
                    span.glyphicon.glyphicon-pencil
                    | &nbsp;Edit
                td
                  button.btn.btn-default.btn-delete(type='button', data-toggle='modal', data-target='#delete', data-delete-id='#{video.videoId}')
                    span.glyphicon.glyphicon-remove
                    | &nbsp;Delete
          if videos[0].pages > 1
            input(type='hidden', name='current', value='#{current}')
            input(type='hidden', name='pages', value='#{videos[0].pages}')
            nav
              ul.pagination.pagination-lg
                li
                  a#previous(href='#', aria-label='Previous', data-page='#{previous}')
                    span(aria-hidden='true') &larr;
                - var p = 1
                while p <= videos[0].pages
                  li
                    a.pagination-link(href='#', data-page='#{p}') #{p++}
                li
                  a#next(href='#', aria-label='Next', data-page='#{next}')
                    span(aria-hidden='true') &rarr;
      #edit.modal.fade(tabIndex="-1", role='dialog', aria-labelledby='editLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4.modal-title(id='editLabel') Edit Video
            .modal-body
              .edit-form.text-center
                form
                  .form-group
                    .input-group
                      span.input-group-addon
                        span.glyphicon.glyphicon-film
                      input#title.form-control(type='text', name='title', placeholder='Title', required)
                  .form-group
                    .input-group
                      span.input-group-addon
                        span.glyphicon.glyphicon-picture
                      input#description.form-control(type='text', name='description', placeholder='Description', required)
                  .form-group
                    .input-group
                      span.input-group-addon
                        span.glyphicon.glyphicon-usd
                      input#producers.form-control(type='text', name='producers', placeholder='Producer(s)', data-input-focus='tooltip', required)
                  .form-group
                    .input-group
                      span.input-group-addon
                        span.glyphicon.glyphicon-user
                      input#actors.form-control(type='text', name='actors', placeholder='Actor(s)', data-input-focus='tooltip', required)
                  input#editId(type='hidden', value='0')
                  .alert.alert-success.edit-success(role='alert') Success! The video was updated in the library.
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cancel
              button.btn.btn-primary(type='button', id='editSubmit') Submit
      #delete.modal.fade(tabIndex="-1", role='dialog', aria-labelledby='deleteLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4.modal-title(id='editLabel') Please Confirm
            .modal-body
              .delete-form.text-center
                p#sure Are you sure you want to delete this video from the library?
                input#deleteId(type='hidden', value='0')
                .alert.alert-success.delete-success(role='alert') Success! The video was deleted from the library.
            .modal-footer
              button.btn.btn-primary(type='button', data-dismiss='modal') No
              button.btn.btn-default(type='button', id='deleteSubmit') Yes
block scripts
  include ./includes/scripts
